html{
    -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
            -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}
body {
    margin: 0;
    padding: 0;
}
.debug {
    position: absolute;
    display: none;
    left:100px;
    top:100px;
}
#board {
    position: relative;
    overflow: hidden;
}
#container{
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    overflow: hidden;
}


.canvas-UI{
    position: absolute;
    width: 85%;
    height: 100%;
    left:0;
}
.canvas{
    position: absolute;
    width: 85%;
    height: 100%;
    left:0;
}
.scale {
    height: 112px;
    width: 45px;
    position: absolute;
    right: 30px;
    top: 50%;
    margin-top: -56px;
    z-index: 99;
}
.scale svg{
    display: flex;
}
.RotAndDel{
    position: absolute;
    bottom: 5px;
    left: 45%;
    height: 61px;
    width: 112px;
    text-align: center;
    z-index: 99;
}
.RotAndDel svg{
    float: left;
}
.RotAndDel-Rot {
    margin-top: 4px;
}
.info-menu{
    position: absolute;
    width: 240px;
    z-index: 99;
    top:20px;
    left: 20px;
}
.info-menu svg{
    padding-top: 2px;
}
.information-block{
    display: flex;
    padding: 0;
    margin: 0;
    margin-top: 2px;
}
.information-block-title{
    color: #333;
    font-size: .8125rem;
    width: 50%;
    margin: 0;
    text-align: left;
}

.information-block-nameFont{
    /* Глубина (см): */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 1000;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.07em;
    color: rgba(0, 0, 0, 0.95);
}
.information-block-numberFont{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.07em;
    color: rgba(0, 0, 0, 0.57);
}
#menu{
    display: flex;
    position: absolute;
    width: 15%;
    height: 100%;
    right: 0;
    background-color: rgb(255, 255, 255);
    border-left: medium dashed rgb(136, 136, 136);
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.menu-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    height: 100%;
}
.modul{
    position: relative;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Baloo Bhai 2';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    cursor:grab;
}
.modul-name{
    display: flex;
    margin: 0 auto;
    text-align: left;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.B{
    height: 120px;
    width: 50px;
    margin-top: 23px;
}
.B-name{ 
    width: 12px;
} 
.BM{
    height: 80px;
    width: 50px;
    margin-top: 23px;
}
.BM-name{ 
    width: 28px;
} 
.C{
    height: 81px;
    width: 120px;
    margin-top: 23px;
}
.C-name{ 
    width: 12px;
} 
.CM{
    height: 85px;
    width: 85px;

    margin-top: 23px;
}
.CM-name{ 
    width: 28px;
} 
.CB{
    height: 120px;
    width: 120px;

    margin-top: 23px;
}
.CB-name{ 
    width: 28px;
} 




/*    */
.appended-modul{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    z-index: 999;
    display: none;
    vertical-align: middle;
}
.modul-nameAppendB{
    margin: 0 auto;
    margin-top:51px;
    margin-left: 15px;
}
.modul-nameAppendBM{
    margin: 0 auto;
    margin-top:33px;
    margin-left: 7.5px;
}
.modul-nameAppendC{
    margin: 0 auto;
    margin-top:51px;
    margin-left: 37px;
}
.modul-nameAppendCM{
    margin: 0 auto;
    margin-top:33px;
    margin-left: 29.5px;
}
.modul-nameAppendCB{
    margin: 0 auto;
    margin-top:50px;
    margin-left: 48px;
}